img{ align-items: var(img .imgg);
width: 600px; 
margin-left: 100px;


}
table{letter-spacing: 4px;



}
body{background-color: #FAEBD7;
color: black;
font-size: medium ;
text-align: center;}

.MD{text-align-last: center;
}

a{  text-decoration: no;
color: rgb(72, 17, 161);}

.his{font-size: xx-large; }
